mark {
  background-color: yellow;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 350px) {
  #navbar #mode-btn{
    display: none;
  }
  #alert-container{
    display: none;
  }
}